@model OfficeEquipmentControl.Models.T_備品管理

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>T_備品管理</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.利用者名)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.利用者名)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.貸出返却日)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.貸出返却日)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.更新日)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.更新日)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.更新者)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.更新者)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.T_状態.状態)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.T_状態.状態)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.T_備品.品名)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.T_備品.品名)
        </dd>

    </dl>
</div>
