@model PagedList.IPagedList<OfficeEquipmentControl.Models.V_備品管理_MAX>

@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "備品検索";
}

<h2>備品検索 <small>Itam Search</small></h2>

@using (Html.BeginForm("Index", "Student", FormMethod.Get))
{
    <p>
        Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("備品ID", "Search", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("状態", "Search", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("品名", "Search", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("利用者名", "Search", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("貸出返却日", "Search", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>

        <th></th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.備品ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.状態)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.品名)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.利用者名)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.貸出返却日)
            </td>
            <td>
                @Html.ActionLink(" 詳細", "ItemDetails", new { id = item.備品ID }, new { @class = "btn-sm btn-info glyphicon glyphicon-list-alt" })
            </td>
            <td>
                @Html.ActionLink(" 変更", "Edit", new { id = item.備品管理ID }, new { @class = "btn-sm btn-warning glyphicon glyphicon-pencil" })
            </td>
            <td>
                @Html.ActionLink(" 削除", "Delete", new { id = item.備品ID }, new { @class = "btn-sm btn-danger glyphicon glyphicon-trash" })
            </td>
        </tr>
    }

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))